// Modal
#myModal.modal.fade.comment-box(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h4.modal-title The Situation
			.modal-body
				.modal-body--content
					.comment--content
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

					.comment--content
						.comment--content-list
							each val in [1, 2, 3, 4, 5]
								.comment--content-list-item 
									p Ipsum is simply dummy text of the printing and typesetting industry
									p.sub-text 
										span 
											| Written by 
											strong John Jacob
							textarea.form-control(placeholder="write a comment")

			.modal-footer
				.comment--controls
					.commment--controls--btn.selected
						i.fa.fa-thumbs-up
					.commment--controls--btn
						i.fa.fa-thumbs-down
					.commment--controls--btn.commment--btn
						i.fa.fa-comment
				.comment--controls
					.comment-submit-btn Comment
