// Modal
#addModal.modal.fade.comment-box(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h4.modal-title New Comment
			.modal-body
				.modal-body--content
					.add-comment--content
						form
							.form-group
								label(for='input-subject') Subject
								input#input-subject.form-control(type='text', placeholder='Subject')
							.form-group
								label(for='input-note') Note
								input#input-subject.form-control(type='text', placeholder='Note')
							.form-group
								label(for='input-category') Category
								select#input-category.form-control(placeholder='Category')
									option -- Select Category --
									option Mangement
									option Mobile Website
									option Desktop Website
								p.help-block This is anonymous.
							button.btn.btn-default.pull-right(type='submit') Submit New Comment

