.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/')
				i.fa.fa-bullhorn
				| TALK
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li(class=(title == 'Home') ? 'active' : undefined)
					a(href='/') Home
				li.add-comment-btn(class=(title == 'Submit Feedback & Idea') ? 'active' : undefined)
					a(href='/add') Submit Feedback & Idea

