extends layout

block content
	form(action="putSuggestion",method="POST")
		.form-group
			label(for='input-subject') Subject
			input#input-subject.form-control(type='text', placeholder='Subject',name="Title")
		.form-group
			label(for='input-note') Note
			input#input-subject.form-control(type='text', placeholder='Note',name="Suggestion")
		.form-group
			label(for='input-category') Category
			select#input-category.form-control(placeholder='Category',name="Category")
				option -- Select Category --
				option Mangement
				option Mobile Website
				option Desktop Website
			p.help-block This is anonymous.
		button.btn.btn-default(type='submit') Submit Comment
