extends layout

block content	
	div.wrapper
		//- div.suggestions--control
		//- 	label Sort By
		//- 	select.sort-by
		//- 		option Latest
		//- 		option Most Liked
		div.suggestions--control
			.sort-control					
				span.control-label Sort By
				span.selected Latest
				i.fa.fa-angle-down
			.add-comment-control.add-comment-btn
				span + New Comment

		ul.suggestion-list
			each val in [1,2, 3, 4, 5, 6, 7, 8]
				li.suggestion-item 
					.suggestion-holder
						.suggestion-title The Situation
						.suggestion-body 
							p.suggestion-body-timestamp Apr 21, 2016 10:00 AM
							p.suggestion-body-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut massa ex. Aliquam ut tortor nisl. Nam a molestie arcu. Proin rutrum rutrum tincidunt. Morbi sagittis turpis tortor, a pellentesque nunc vestibulum sed. Nunc at velit sit amet nisl condimentum faucibus aliquet id dui.
						.suggestion-controls
							.suggestion-control-btn(class=(val == 1 ? 'selected' : ''))
								i.fa.fa-thumbs-up
								span.count 0
							.suggestion-control-btn
								i.fa.fa-thumbs-down
								span.count 0
							.suggestion-control-btn.view-comment-btn
								i.fa.fa-comment
								span.count 3
			
	script(src='/js/form-utils.js')