$blue: #002A4A;
$lightblue: #D1DFE5;
$textblue: #0075A7;

$yellow: #FFB517;

.clearfix {
	*zoom: 1;
	
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

body {

	background-color: #FFF5DF;
}

.navbar-default {
	background-color: $blue;

	.navbar-brand { color: $yellow; }

	.navbar-nav > li > a { color: #FFF; }
}

.comment-box {

	padding-top: 15%;

	p.sub-text {
		font-size: 12px;
		margin-bottom: 0px;
		color: #777;
	}

	.modal-header {

		background-color: $blue;
		color: white;

		button {

			color: white;
		}
	}

	.modal-body--content {

		position: relative;

		height: 300px;

		.add-comment--content {

			padding: 15px;

			background-color: white;
		}

		.comment--content {

			overflow-y: scroll;

			padding: 15px;

			background-color: white;

			width: 50%;

			position: absolute;

			left: 0;

			bottom: 0;

			top: 0;

			& + .comment--content {

				right: 0;

				bottom: 0;

				top: 0;

				left: auto;

				background-color: #D1DFE5;
			}

			.comment--content-list-item {

				padding-bottom: 10px;
				border-bottom: 1px solid #CCC;
				margin-bottom: 5px;
			}	
		}
	}

	.modal-body {

		padding: 0;
	}

	.modal-footer {

		height: 50px;

		position: relative;

		.comment--controls {

			background-color: #17607D;

			width: 50%;

			position: absolute;

			left: 0;

			bottom: 0;

			top: 0;


			& + .comment--controls {

				right: 0;

				bottom: 0;

				top: 0;

				left: auto;

				background-color: #D1DFE5;

				.comment-submit-btn {

					float: right;

					background-color: $yellow;

					color: black;

					line-height: 30px;
					text-align: center;
					padding-right: 10px;
					padding-left: 10px;
					margin-right: 15px;
					margin-top: 10px;

				}
			}

			.commment--controls--btn {

				width: 50px;
				height: 50px;
				float: left;
				line-height: 50px;
				color: white;
				font-size: 20px;
				border-right: 1px solid #002A4A;
				text-align: center;

				&.selected {

					background-color: $yellow;
				}

				&.commment--btn {

					float: right;
					border-right: none;
					border-left: 1px solid #002A4A;
				}
			}

		}
	}
}

.btn-default { border-color: #DE9F18; }
.btn-default, .btn-default:focus {
	background-image: -webkit-linear-gradient($yellow 60%, #DE9F18 100%);
	background-image: -o-linear-gradient($yellow 60%, #DE9F18 100%);
	background-image: linear-gradient(#FFB517 60%, #DE9F18 100%);
}

.suggestions--control {

	@extend .clearfix;

	.sort-control {

		position: relative;

		padding: 0;

		height: 40px;
		line-height: 40px;
		
		padding-left: 10px;
		padding-right: 40px;

		background-color: white;
		display: inline-block;
		float: left;

		span {
			color: black;

			&.control-label {

				font-weight: 600;
				padding-right: 5px;
			}
		}

		margin-bottom: 15px;

		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

		.fa.fa-angle-down {

			position: absolute;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			right: 0;
			top: 0;
			margin-right: 0px;
		}
	}

	.add-comment-control {

		position: relative;

		padding: 0;

		height: 40px;
		line-height: 40px;
		
		padding-left: 10px;
		padding-right: 10px;

		display: inline-block;
		float: right;

		background-color: $yellow;

		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

		font-weight: 600;

		cursor: pointer;

	}
}


// SUGGESTIONS

.suggestion-list {
	
	display: block;

	list-style: none;

	margin: 0;
	padding: 0;

	margin-right: -20px;
	margin-left: -10px;

	@extend .clearfix;

	.suggestion-item {

		list-style-type: none;
		padding: 0;
		margin: 0;

		width: 33%;

		float: left;

		.suggestion-holder {

			margin-bottom: 20px;
			margin-right: 10px;
			margin-left: 10px;

			background-color: white;

			-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		}

		.suggestion-title {

			font-size: 1.5em;
			padding: 10px;

			color: $textblue;
		}

		.suggestion-body {

			padding: 10px;

			padding-top: 0px;	
			padding-bottom: 0px;	

			.suggestion-body-timestamp {

				color: #FFB517;
			}
		}

		.suggestion-controls {

			background-color: $lightblue;

			@extend .clearfix;

			.suggestion-control-btn {

				width: 50px;
				line-height: 50px;

				float: left;

				text-align: center;

				color: $textblue;

				&.selected {

					background-color: $yellow;
					color: white;
				}

				& + .suggestion-control-btn + .suggestion-control-btn {

					float: right;
				}

				span.count {


				}
			}
		}
	}
}