@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";


// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}
h1{
  margin-bottom: 0px;
  margin-top:20px;
  background-color: #002A4A;
  color:white;
  height: 60px;
  width:100%;
}
h1 img{
  margin-top:10px;
  margin-left:50px;
  height:40px;
}
h1 span{
  font-size: 10px;
  margin-left: 5px;
}
.suggestionDiv{
 /*  margin-left: 50px;
  margin-right:20px; 
  margin-top:20px;  */
  border: 1px solid black;
   width: 31%;
   margin-right:10px; 
    margin-left: 10px;

  
}
.title{
  color:blue;
  font-size: 14px;
}
.timeStamp{
  color: orange;
  font-size: 10px;
}
.content {
  font-size: 12px;
}
.commentSection{
  margin-top:5px;
  display:inline-flex;
  width:100%; 
  height:40px;
  background-color: #D1DFE5;
  display: flex;
}
.comment{
   padding-left: 200px;
}
.thumbUp, .thumbDown, .comment{
  margin-top:5px;
}
.thumbDown{
 padding-left:15px;
}
.container1{
  width: 100%;
  background-color:#FFF1CE;
  height :500px;
}
.commentButton{
  font-size: 24px;
  color: black;
}
.subtext{
  color: blue;
  font-size: 10px;
}
.commentButtonDiv{
  float:right;
  margin-top: 20px;
  margin-right: 20px;
}
.topBar
{
  width: 100%;
 
}
.sortDiv{
  margin-left: 20px;
  height:31px;
  background-color: white;
  width: 128px;
  border: 1px solid black;
}
.sortText{
  margin-top: 5px;
}

